* {
	margin: 0;
	padding: 0;
}

h1 {
	background-color: #0D4D4D;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    font-size: 45px;
    text-transform: uppercase;
    padding: 30px;
}

a {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px;
}

a:hover {
	background-color: #EEE;
	border-bottom: 2px solid #98B823;
	color: #98B823;
}

nav {
	padding: 20px;
	background-color: #98B823;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 17px;
	text-align: center;
	margin: 0px auto 20px auto;
	max-width: 50em;
	color: #0D4D4D;
}

body {
    text-align: center;
}

div {
	margin: 40px auto 40px auto;
}

img {
	margin: 0 10px;
}

.foot {
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	padding: 0 20px;
	font-family: "Droid Serif", serif;
}

.name {
	color: #98B823;
	font-weight: 700;
	margin: 0 4px;
}

#f_one {
	float: left;
}

#f_two {
	float: right;
}

footer{
	padding: 20px;
	background-color: #0D4D4D;
	text-transform: uppercase;
	font-family: "Raleway" serif;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

button{
	background-color: white;
	font-family: "Droid Serif", serif;
	color: #EEE;
	border: 0;
	font-size: 50px;
	margin: 100px auto;
	text-transform: uppercase;
}